<div class="main">
  <div class="row justify-content-center">
    <div class="body col-md-10">
      <form (ngSubmit)="addAlbum()" class="form mb-2 mt-2">
        <div class="form-group row">
          <label for="name" class="col-sm-3 col-form-label">Album Name</label>
          <div class="col-sm-9">
            <input id="name" class="form-control" type="text" name="albumName" required [(ngModel)]="newAlbum.albumName">
          </div>
        </div>
        <div class=" ml-auto">
            <button class="btn btn-sm btn-primary">Create Album</button>
        </div>
      </form>

      <div class="albums">
        <ul class="album-list" *ngFor="let album of allAlbums">
          <li class="album-list-item list-group-item ">
            <p class="bg-info pt-2 pr-3 pb-2 pl-3 row" >
              {{ album.albumName }}
              <span class="ml-auto">
                <button class="btn btn-primary btn-sm" (click)="open(album.albumId)">
                  <span><fa name="eye"></fa></span>
                </button>
                &nbsp;|&nbsp;
                <button class="btn btn-primary btn-sm" (click)="edit(album.albumId)">
                  <span><fa name="edit"></fa></span>
                </button>
                &nbsp;|&nbsp;
                <button class="btn btn-danger btn-sm" (click)="delete(album.albumId)">
                  <span><fa name="trash"></fa></span>
                </button>
              </span>
            </p>
            <table class="table table-sm table-striped album-songs" id="album-songs-{{ album.albumId }}">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>type</th>
                  <th>Artist</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let song of album.songs">
                  <td>{{ song.songName }}</td>
                  <td>{{ song.type }}</td>
                  <td>{{ song.artist.artistName }}</td>
                </tr>
              </tbody>
            </table>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
